{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header">
    {% comment %} <div class="left-nav-bar">
        <a href="/">
            <img width="80" height="50" loading="lazy" src="{{'nike.png' |  asset_url}}" alt="">
        </a>
    </div>
    <div class="">
        <ul class="middle-nav-bar">
            {%- for link in linklists['main-menu'].links %}
                <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor %}
        </ul>
    </div>
    <div class="right-nav-bar">
        <form action ="/search">
            <input class="search-nav" placeholder="search" type="search">
        </form>
        <a href="/">
            <img width="40" height="40" loading="lazy" src="{{'d.png' |  asset_url}}" >
        </a>
    </div> {% endcomment %}
    <div class="notificaiton-nav">
    <div class="nav-log">logo</div>
    <div class="nav-serarch">
        <form action ="/search">
            <input class="search-nav" placeholder="search" type="search">
            <button class="search-btn">
                search
            </button>
        </form>
    </div>
    <div class="nav-notfications"> 
        <div class="">bell</div>
        <div class="">return</div>
        <div class="">bage</div>
        <div class="user-info">
            <div class="avatar"></div>
            <div class="user-profile">
                <div class="welcome-user">welcome</div>
                <div class="">Asraf DriveLync</div>
            </div>
        </div>
    </div>
</div>

    <div class="header-nav">
      <div class="header-nav-left">Select Categories</div>
      <div class="header-nav-right">

        <ul class="header-nav-right-menu">
          <li class="header-nav-menu">Tyre Shop</li>
          <li class="header-nav-menu"> Fluids & lubricants</li>
          <li class="header-nav-menu">Batteries</li>
          <li class="header-nav-menu">Tool</li>
          <li class="header-nav-menu">Trucks</li>
          <li class="header-nav-menu">Motocycles</li>
          <li class="header-nav-menu">EV BAY</li>
        </ul>
      </div>
     
    </div>

</header>
