<header class="header-nav">
    <div class="left-nav-bar">
        <a href="/">
            <img width="80" height="50" loading="lazy" src="{{'nike.png' |  asset_url}}" alt="">
        </a>
    </div>
    <div class="">
        <ul class="middle-nav-bar">
            {%- for link in linklists['main-menu'].links %}
                <li>{{ link.title | link_to: link.url }}</li>
            {%- endfor %}
        </ul>
    </div>
    <div class="right-nav-bar">
        <form action ="/search">
            <input class="search-nav" placeholder="search" type="search">
        </form>
        <a href="/">
            <img width="40" height="40" loading="lazy" src="{{'d.png' |  asset_url}}" >
        </a>
    </div>
</header>
<style>

 .header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 2px;
   background-color: white;
 }

 .middle-nav-bar {
   display: flex;
   align-items: center;
   gap: 20px;
   list-style-type: none;
   text-decoration: none;
   font-size: 17px;
   font-weight: bolder;
  }
  
  .middle-nav-bar li {
    padding: 10px;
    list-style-type: none;
  }
  
  .middle-nav-bar a {
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
  } 

  .right-nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .search-nav {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(233,    232, 232);
  }
</style>