<html>
    <head>
        {{ content_for_header }}
        {{ 'theme.css' | asset_url |  stylesheet_tag }}
    </head>
    <body>
        {% section 'announcements-bar' %}
        {% section 'notification-nav' %}
        {% section 'header' %}
        <main class="main-section">{{ content_for_layout }}</main>
    </body>
</html>