{{ 'banner.css' | asset_url | stylesheet_tag }}
<section>
    <div class="grid-container">
    <div class="large-item">Large Item</div>
    <div class="small-item-1">Small Item 1</div>
    <div class="small-item-2">Small Item 2</div>
    <div class="small-item-3">larg bottom Item 2</div>
</div>

</section>

{% schema  %} 
{
    "name": "Banner",
    "settings":[
        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#F4F4F4"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        } 
    ]

}
 {% endschema %} 