{{ 'notification-nav.css' | asset_url | stylesheet_tag }}

<section class="notificaiton-nav">
    <div class="nav-log">logo</div>
    <div class="nav-serarch"> search bar</div>
    <div class="nav-notfications"> 
        <div class="">bell</div>
        <div class="">return</div>
        <div class="">bage</div>
        <div class="user-info">
            <div class="avatar"></div>
            <div class="user-profile">
                <div class="welcome-user">welcome</div>
                <div class="">Asraf DriveLync</div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "notification",
    "settings": [
        
        ]
}
{% endschema %}