/* .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2px;
    background-color: white;
  }
 
  .middle-nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
   }
   
   .middle-nav-bar li {
     padding: 10px;
     list-style-type: none;
   }
   
   .middle-nav-bar a {
     padding: 10px;
     list-style-type: none;
     text-decoration: none;
   } 
 
   .right-nav-bar {
     display: flex;
     align-items: center;
     gap: 20px;
   }
 
   .search-nav {
     padding: 10px;
     margin-top: 20px;
     border-radius: 10px;
     border: none;
     background-color: rgba(233,    232, 232);
   } */

  .header {
    background-color: #fff;
    /* padding: 20px 0; */
  }
.header-nav {
  /* height: 50px; */
  width: 1280;
  margin: 0 auto;
  color: #fff;

  display: flex;
  justify-items: center;
    
}

.header-nav-left {
    border-top-left-radius: 5px;
    background-color: red;
    padding: 15px 30px;
    width: 300px
}

.header-nav-right {
    border-top-right-radius: 5px;
    background-color: #000;
    padding: 15px 30px;
    width: 100%;
}


.header-nav-right-menu {
       display: flex;
       gap: 50px;
       list-style-type: none;
       padding: 0;
       margin: 0;
   }

   .notificaiton-nav {
    width: 1280px;
    margin: 0px auto;
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-notfications {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 10px;

}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
}

.search-nav {
    width: 750px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(240, 240, 240, 0.329);
  }
  
.user-profile {

}
.search-btn {
    background-color: #090929;
    border: none;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 5px;
}

.welcome-user {
    font-size: 14px;
}