.notificaiton-nav {
    width: 1280px;
    margin: 10px auto;
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-notfications {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 10px;

}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
}
.user-profile {

}

.welcome-user {
    font-size: 14px;
}