body {
    background-color: "{{ settings.bg }}";
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
}
.main-section {
   width: 110px;
   margin: 0 auto;
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

 .notfound {
   background-color: rgb(226, 226, 226);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Set the height to the full viewport height */
 }

